<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="triangle" class="com.bfpp.beans.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>

	<bean id="pointA" class="com.bfpp.beans.Point">
		<property name="x" value="${pointA.x}" />
		<property name="y" value="${pointA.y}" />
	</bean>

	<bean id="pointB" class="com.bfpp.beans.Point">
		<property name="x" value="0" />
		<property name="y" value="10" />
	</bean>

	<bean id="pointC" class="com.bfpp.beans.Point">
		<property name="x" value="0" />
		<property name="y" value="-10" />
	</bean>
	
	<bean class="com.bfpp.beans.MyBeanFactoryPP" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="pointconfig.properties" />
	</bean>

</beans>